/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
}

/* Encabezado */
header {
    background-color: #3f3f3f;
    color: white;
    padding: 10px 10px; /* Agregar más margen a los lados */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ancho de la pantalla */
    margin-left: 20px;
    margin-bottom: 15px; /* Margen inferior */
    flex-shrink: 0; /* Evitar que el header se encoja */
}

/* Botones */
button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
    margin-left: 1px;
}

/* Secciones */
main {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
    flex-grow: 1; /* Hacer que el contenido principal crezca */
}

section {
    margin-bottom: 20px;
}

/* Mensaje */
#messageCard {
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 10px;
    width: 8cm; /* Ancho de 8cm */
    height: 11cm; /* Alto de 11cm */
    margin: 0 auto; /* Centrar la carta */
    display: flex;
    flex-direction: column;
    /* justify-content: ; Centrar contenido verticalmente */
}

/* Botones debajo de la carta */
#buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 8cm; /* Ancho de 8cm */
    margin-top: 5px;
}

#1b{
    margin-top: 15px;
    width: 100%;
    margin-bottom: 0px;
}

#bot {
    width: 100%; /* Ancho completo */
    margin-top: 15px;
}

/* Menú de modo de juego */
#gameModeMenu {
    display: none;
}

#gameModeMenu ul {
    list-style: none;
    padding: 0;
}

#gameModeMenu li {
    padding: 10px;
    cursor: pointer;
}

/* Lista de jugadores */
#playerList {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

#playerList li {
    margin-bottom: 5px;
}
